@model WebApplication6mvc.Models.Employee



<h2>Delete Employee</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Hire Date</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Age</td>
            <td>@Model.HireDate</td>
            <td>@Model.Country</td>
            <td>
                <form action="/Employee/Delete" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                    <a class="btn btn-primary" href="/Employee/Index">Go Back</a>
                </form>
            </td>
        </tr>
    </tbody>
</table>
