@model WebApplication6mvc.Models.Employee


<h2>Details of Employee</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Hire Date</th>
            <th>Project</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.Age</td>
                <td>@Model.HireDate</td>
                <td>@Model.Project.Title</td>
                <td>@Model.Country</td>
            </tr>
    </tbody>
</table>
<a class="btn btn-info" href="/Employee/Index">Go Back</a>
