@model WebApplication6mvc.Models.Employee
@using WebApplication6mvc.Models.Enums


<h2>Edit Employee</h2>

<form method="post">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Give Your First Name" } })
    </div>
    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Give Your Last Name" } })
    </div>
    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control", placeholder = "Give Your Age" } })
    </div>
    @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.HireDate)
        @Html.EditorFor(m => m.HireDate, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Give Your Hire Date" } })
    </div>
    @Html.ValidationMessageFor(m => m.HireDate, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Country)
        @Html.DropDownListFor(m => m.Country, new SelectList(Enum.GetValues(typeof(Country))), new { @class = "form-control" })
    </div>

    <input class="btn btn-primary" type="submit" value="Edit" />
    @Html.ActionLink("Go Back", "Index", "Employee", new { @class = "btn btn-info" })

</form>