@model IEnumerable<MVCALLAHector.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Index Views</h2>

<table class="table">

    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                Title
            </th>
            <th>Price</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @movie.Id
                </td>
                <td>
                    @movie.Title
                </td>
                <td>
                    @movie.Price
                </td>
                <td>@movie.Rating</td>
                
                    @if(movie.Genre == null)
                    {
                        <td>"Unknown"</td>
                    }
                    else
                    {
                        <td>@movie.Genre.Kind</td>
                    }
               
                <td>
                   
                </td>
            </tr>
        }
    </tbody>



</table>

