@model IEnumerable<MVCDAY3.Models.Student> 
 
@if (TempData["SuccessDeleteStudentMessage"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["SuccessDeleteStudentMessage"];
    </div>
}

<h2>All Students</h2>



<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Date Of Birth</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var stu in Model)
        {
            <tr>
                <td><img width="50" src="@stu.PhotoUrl" /></td>
                <td>@stu.StudentId</td>
                <td>@stu.FirstName</td>
                <td>@stu.LastName</td>
                <td>@stu.Age</td>
                <td>@stu.DateOfBirth.ToString("f")</td>
                <td>@stu.Country</td>
                <td>
                    <a class="btn btn-primary" href="/Student/Details?id=@stu.StudentId">Details</a>
                    <a class="btn btn-info" href="/Student/Edit">Edit</a>
                    <form action="/Student/Delete" method="post">
                        <input type="hidden" name="id" value="@stu.StudentId"/>
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
        }



    </tbody>
</table>


<a class="btn btn-primary" href="/Student/Create">Create Student</a>

