@model MVCDAY3.Models.Student

<h2>Student Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
            
            <tr>
                <td><img width="50" src="@Model.PhotoUrl" /></td>
                <td>@Model.StudentId</td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.DateOfBirth.ToString("f")</td>
                <td>@Model.Country</td>
                
            </tr>
    </tbody>
    
</table>

<a class="btn btn-primary" href="/Student/Index">Go Back</a>

