@model PagedList.IPagedList<MVCALLAHector.Models.Employee>
@using MVCALLAHector.Models.Enums;
@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@ViewBag.movie

@if (@TempData["message"] != null)
{
    <strong>@TempData["message"]</strong>
}

<br />
<br />
<br />
<a class="btn btn-primary" href="/Employee/Create">Create Employee</a>

@if (Model.Count == 0)
{

    <div>
        <h1>No Employees Here</h1>
    </div>

}
else
{
    <div>
        <div>
            <button id="filtersBtn">Show Filters</button>
        </div>

        <div id="filters">
            <form>

                @{
                    var countries = Enum.GetNames(typeof(Country));
                }
                <select name="searchCountry">

                    @if (ViewBag.currentCountry == null)
                    {
                        <option value="">All</option>
                        foreach (var country in countries)
                        {

                            <option>@country</option>
                        }

                    }
                    else
                    {
                        <option value="">All</option>
                        foreach (var country in countries)
                        {
                            if (ViewBag.currentCountry == country)
                            {
                                <option selected>@country</option>
                            }
                            else
                            {
                                <option>@country</option>
                            }

                        }
                    }





                </select>

                <input type="number" name="searchMin" value="@(ViewBag.currentMin == null ? ViewBag.MinAge : ViewBag.currentMin)" placeholder="Give your min Age" min="@ViewBag.MinAge" max="@ViewBag.MaxAge" />
                <input type="number" name="searchMax" value="@(ViewBag.currentMax == null ? ViewBag.MaxAge : ViewBag.currentMax)" placeholder="Give your max Age" min="@ViewBag.MinAge" max="@ViewBag.MaxAge" />
                <input type="number" name="searchMin" value="" placeholder="Give your min Age" />

                <input type="text" name="searchName" value="@ViewBag.currentName" placeholder="Search Name" />

                <input type="submit" value="Search Employee" />
            </form>
        </div>

        <br />
        <br />



        @Model.PageCount

        @Model.PageNumber






        <div>
            <div>
                <strong>Page @(Model.PageCount<Model.PageNumber? 0 : Model.PageNumber) of @Model.PageCount</strong>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Id</th>
                        @*<th>@Html.ActionLink("Name","Index","Employee", new {  sortOrder=ViewBag.NameSortParam, searchName=ViewBag.currentName, searchCountry=ViewBag.currentCountry, searchMin=ViewBag.currentMin, searchMax = ViewBag. }, null)</th>*@
                        <th>Salary</th>
                        <th>@Html.ActionLink("Age", "Index", "Employee", new { sortOrder = ViewBag.AgeSortParam }, null)</th>
                        <th>@Html.ActionLink("Hire Date", "Index", "Employee", new { sortOrder = ViewBag.HireDateSortParam }, null)</th>
                        <th>@Html.ActionLink("Project", "Index", "Employee", new { sortOrder = ViewBag.ProjectTitleSortParam }, null)</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Managers</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td><img width="80" src="@emp.PhotoUrl" /></td>
                            <td>@emp.Id</td>
                            <td>@emp.Salary</td>
                            <td>@emp.Age</td>
                            <td>@emp.HireDate.ToString("d")</td>
                            <td>@emp.Project.Title</td>
                            <td>@emp.Name</td>


                            <td>@emp.Country</td>
                            <td>
                                <ul>
                                    @foreach (var manager in emp.Managers)
                                    {
                                        <li>@manager.Name</li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/Employee/Details?id=@emp.Id">Details</a>
                                <a class="btn btn-success" href="/Employee/Edit?id=@emp.Id">Edit</a>
                                @*<a class="btn btn-danger" href="/Employee/Delete?id=@emp.Id">Delete</a>*@

                                <form action="/employee/delete" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@emp.Id" />
                                    <input type="submit" value="Delete" />
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <div>
                @Html.PagedListPager(Model, x => Url.Action("Index", "Employee", new { page = x, pSize = 3 }), PagedListRenderOptions.Minimal)
            </div>
        </div>
    </div>
}




@section scripts{

    <script>
        $(document).ready(function () {

            $("#filters").hide()

            $("#filtersBtn").click(filterHandler);

            function filterHandler() {
                $("#filters").toggle(1000);
                let textt = $("#filters").text();


                $("#filtersBtn").text(textt == "Show Filters" ? "Hide Filters" : "Show Filters");

            }
        })
    </script>
}

@section Omorfia{
    <style>
        td {
            color: red;
        }
    </style>

}






